@import './variables_light';

.landing-header.navbar-light.bg-light.landing-header {
  background-color: #fff0 !important;
  border-bottom: none;
}

.landing {
  .title-container-background {
    position: absolute;
    height: 265px;
    width: 100vw;
    background-color: $orange;
    background-image: linear-gradient($orange, $orange-dk);
    right: 0;
    // top: 65px;
    top: 0;
    overflow: hidden;
    z-index: -1;
    .pattern {
      height: 100%;
      position: absolute;
      &.right {
        // right: 32px;
        transform: rotate(45deg) scale(1.3);
        right: -25px;
        top: 55px;
      }
      &.left {
        // left: 32px;
        transform: rotate(-45deg) scale(1.3);
        left: -25px;
        top: 55px;
      }
    }
  }
  // position: relative;
  .title-container {
    // padding-top: 65px;
    // position: absolute;
    // z-index: -1;
    // right: 0;
    // top: 65px;
    // top: 0;
    height: 200px;
    width: 100vw;
  }
  .logo-text {
    &.large {
      font-size: 2rem;
    }
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: $orange;
    font-family: 'Quicksand', sans-serif !important;
  }
  .quran {
    // font-family: 'Quicksand', sans-serif !important;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 700;
    max-width: 700px;
    .ar-text {
      font-family: 'Tajawal', sans-serif !important;
    }
  }
  .title {
    font-family: 'Quicksand', sans-serif !important;
    color: $orange;
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
    &.left  {
      flex-direction: row-reverse;
    }
    .text {
      font-size: 1.1rem;
      margin: 0 2rem;
      max-width: 40%;
      // text-align: start;
      span {
        // font-family: Quicksand;
        font-size: 1.5rem;
        color: $orange;
        font-weight: 900;
      }
    }
    img {
      max-width: 300px;
    }
  }
  hr {
    max-width: 60%;
  }
}
