@import './variables_light';

.swipe {
  position: relative;
  width: 100%;
  background-color: $grey;
  margin: 20px 0;
  border-radius: $border-radius;
  .btn {
    color: $gray-700;
    font-weight: 700;
  }
  height: 74px;
  .swipe-tab {
    width: 50%;
    height: 100%;
    z-index: 2;
    position: relative;
    outline: none !important;
    box-shadow: none !important;
    &.selected {
      color: #fff;
    }
  }
  &::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: $secondary;
    border-radius: $border-radius;
    left: 0;
    margin-left: 50%;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: -5px 0px 8px -5px $gray-400;
  }
}
.swipe.checked {
  &::after {
    margin-left: 0 !important;
    box-shadow: 5px 0px 8px -5px $gray-400;
  }
}
.swipe.small {
  height: 50px;
  .btn {
    // font-size: 0.9rem !important;
    padding: 0px !important;
  }
}
